.venv/
__pycache__/
.idea/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
wheelhouse/
.env
.env.*.local
*.pem
secrets.json
.coverage
.coverage.*
htmlcov/
.jest-cache/
.pytest_cache/
.mypy_cache/
.pyre/
.cache/
.ropeproject/
ipynb_checkpoints/
.vscode/
*.log

